<h1>Welcome to the PHAT Cluster Catalog!</h1>

<p>
<%= link_to "Brick Index", bricks_path %>
</p>

<!--
<p>
<%= link_to "User Progress Summary", :controller => "user", :action => "index" %>
</p>
-->

<p>
<a href="http://sites.google.com/site/m31clusters/">Cluster Google Site</a>
</p>

<p>
<a href="http://sites.google.com/a/uw.edu/phat/">PHAT Google Site</a>
</p>
